.navbar>.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    padding: 18px 20px 7px 20px;
    justify-content: space-between;
}

.sec1 .navbar{
    box-shadow: none;
}

.navbar-expand-lg .navbar-collapse {
    width: 80%;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 70%;
    justify-content: center;
    transition: all ease-in-out 0.2;
}

.navbar-expand-lg .navbar-nav li{
    padding-left: 7px;
    font-size: 17px;
    transition: all ease-in-out 0.2;
    font-weight: 400;
}
.navbar-expand-lg .navbar-nav li a{
    color: black;
}

.navbar-expand-lg .navbar-nav li a:hover{
    color: #0a58ca !important
}

.sec1 .start{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.sec1 .start .Get{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 25px;
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: all .35s;
    border: none;
    background: #0E59F2;
    color: white;
    transition: .4s;
    border-radius: 30px;
}

.sec1 .start .about-button{
    border-radius: 50%;
    padding: 0px 19px;
    font-size: 18px;
    background: #e3e5ea;
    color: #0E59F2;
    box-shadow: none;
}
.sec1 .start .about-button:hover{
    background-color: #0E59F2;
    color: #ffffff;
}
.sec1 .start .Get:hover{
    background-color: black;
}

.sec1 .offcanvas-header .logo{
    margin: auto;
}

.sec1 .offcanvas-body{
    padding-left: 35px;
    color: black;
}

.sec1 .offcanvas-body .about{

}
.sec1 .offcanvas-body .about h2{
    font-weight: 400;
    padding-bottom: 6px;
}
.sec1 .offcanvas-body .about p{
    color: #000000bd;
    width: 88%;
}
.sec1 .offcanvas-body .contact{
    padding-bottom: 15px;
}

.sec1 .offcanvas-body .contact .member{
    padding-bottom: 10px;
    color: #000000b5;
}
.sec1 .offcanvas-body .contact .member span{
    padding-right: 5px;
    color: black
}
.sec1 .offcanvas-body .logos i{
    padding-right: 15px;
    font-size: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.sec1 .offcanvas-body .logos i:hover{
    color: #0E59F2;
}

@media screen and (max-width:1400px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 75%;
        justify-content: center;
        transition: all ease-in-out 0.2;
    }
    .sec1 .start{
        display: flex;
        justify-content: space-around;
        width: 25%;
    }
}
@media screen and (max-width:1200px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 70%;
        justify-content: center;
        transition: all ease-in-out 0.2;
    }
    .sec1 .start{
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
}

@media screen and (max-width:980px) {
    .navbar>.container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        padding: 18px 20px 0 20px;
        justify-content: space-between;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        transition: all ease-in-out 0.2;
    }
        
    .navbar-expand-lg .navbar-nav li{
        width: 100%;
        text-align: center;
    }
    .sec1 .start .about-button{
        display: none;
    }
    .sec1 .start{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

/**********************************************************************************************************************************/
.sec2{
    background-image: url("../images/Heo-section.png");
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    padding-left: 21px;
    color: white;
}
.sec2 .text{
    width: 50%;
}
.sec2 .text .hash{
    font-weight: bold;
}
.sec2 .text h2{
    font-size: 4vw;
    width: 70%;
    font-weight: bold;
    padding-bottom: 15px;
}
.sec2 .text .details{
    width: 70%;
    font-size: 15px;
}
.sec2 .text .buttons{
    margin: 35px 0 0 0;
}

.sec2 .text .buttons button{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 18px 40px;
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: all .35s;
    border: none;
    background: white;
    color: #0E59F2;
    transition: .4s;
    border-radius: 30px;
    /* padding-right: 15px; */
    margin: 0px 15px 10px 0px;
}
.sec2 .text .buttons .discover{
    background: #0E59F2;
    color: white
}
.sec2 .text .buttons button:hover{
    background-color: #0E59F2;
    color: white;
}
.sec2 .text .buttons .discover:hover{
    background-color: white;
    color: black;
}
.sec2 .text .logos{
    margin: 29px 0 0 15px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.sec2 .text .logos i{
    font-size: 32px;
    padding-right: 17px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.sec2 .text .logos i:hover{
    color: #0a58ca;
}
@media screen and (max-width:790px) {
    .sec2 .text{
        width: 80%;
    }
}
@media screen and (max-width:500px) {
    .sec2 .text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
/**********************************************************************************************************************************/
.sec3{
    color: black;
    padding: 100px 10px 0 10px;
    text-align: center;
}
.sec3 .title{
    font-weight: bold;
}
.sec3 h2{
    font-weight: bold;
    font-size: 3vw;
}
.sec3 .text{
    width: 39%;
    margin: auto;
    padding: 20px 0;
    color: #594242e3;
}
.sec3 .cards{
    width: 90%;
    margin: auto;
    text-align: start;
    padding: 20px 15px 0px 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sec3 .cards .card{
    margin: 2px 0 10px 0;
    width: 31%;
    padding: 42px 20px 42px 33px;
    border: 1px solid #00000066;
    transition: all ease-in-out 0.2s;
}
.sec3 .cards .card:hover{
    box-shadow: #9eada1 2px -1px 6px 0px;
}
.sec3 .cards .card .title{
    font-size: 4.5vh;
    width: 75%;
    color: black;
    padding: 20px 0;
}
.sec3 .cards .card .link{
    padding: 0 0 20px 0;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.sec3 .cards .card .link:hover{
    color: #0a58ca;
}
.sec3 .cards .card .link i{
    padding-left: 10px;
    transition: all ease-in-out 0.5s;
}
.sec3 .cards .card .link:hover i{
    transform: rotate(360deg);
}

.sec3 .cards .card .image img{
    width: 100%;
}

@media screen and (max-width:980px) {
    .sec3 .cards .card{
        margin: 2px 0 10px 0;
        width: 80%;
        padding: 42px 20px 42px 33px;
        border: 1px solid #00000066;
    }
}

@media screen and (max-width:450px) {
    .sec3 .text{
        width: 90%;
        margin: auto;
        padding: 20px 0;
        color: #594242e3;
    }
    .sec3 .cards .card{
        margin: 2px 0 10px 0;
        width: 90%;
        padding: 42px 20px 42px 33px;
        border: 1px solid #00000066;
    }
    .sec3 .cards .card .title{
        font-size: 2.5vh;
        width: 75%;
        color: black;
        padding: 20px 0;
    }
}
/**********************************************************************************************************************************/
.sec4{
    text-align: center;
    color: black;
    padding: 100px 10px 100px 10px;
    background: #fdfdfd;
}
.sec4 .title{
    font-weight: bold;
}
.sec4 h2{
    font-weight: bold;
    font-size: 3vw;
}
.sec4 .cards{
margin: auto;
    margin: auto;
    width: 85%;
    padding: 46px 0 0 70px;
}
.sec4 .cards .card{
    border: none;
    box-shadow: none;
    text-align: start;
}
.sec4 .cards .card .head{
    display: flex;
    justify-content: space-between;
}
.sec4 .cards .card .head .main{
    background: #f1f1f1ad;
    border-radius: 50%;
    position: relative;
    height: fit-content;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.sec4 .cards .card .head .main i{
    padding: 25px;
    /* border-radius: 50%; */
    font-size: 50px;
    color: #0a58ca;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
}
.sec4 .cards .card .head .main:hover i{
    background-color: #0a58ca;
    color: white;
}

.sec4 .cards .card .head .main .number{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 8px;
    background: #0E59F2;
    color: white;
    border-radius: 50%;
}
.sec4 .cards .card .head .image{

}
.sec4 .cards .card .head .image img{

}
.sec4 .cards .card1{

}
.sec4 .cards .card2{
    position: relative;
    top: 50px;
}
.sec4 .cards .card h2{
    font-size: 20px;
    width: 81%;
    padding: 20px 0;
    color: black;
}
.sec4 .cards .card p{
    
}

@media screen and (max-width:1100px) {
    .sec4 .cards{
        margin: auto;
        margin: auto;
        width: 100%;
        padding: 46px 0 0 30px;
    }
}
@media screen and (max-width:986px) {
    .sec4 .cards{
        margin: auto;
        margin: auto;
        width: 90%;
        margin: auto;
        padding: 46px 0 0 0;
    }
    /* .sec4 .cards .card .head{
        display: flex;
        justify-content: center;
    } */
    .sec4 .cards .card .head .image{
        display: none;
    }
    .sec4 .cards .card {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sec4 .cards .card2{
        top: 0px;
    }
    .sec4 .cards .card p{
        width: 80%;
    }
}
@media screen and (max-width:780px) {
    .sec4 h2{
        font-weight: bold;
        font-size: 20px;
    }
    .sec4 .cards {
        margin: auto;
        margin: auto;
        width: 100%;
        padding: 46px 0 0 0px;
    }
    .sec4 .cards .card .head{
        justify-content: center;
    }
    .sec4 .cards h2{
        margin: auto;
        text-align: center;
    }
    .sec4 .cards .card p{
        margin: auto;
        text-align: center;
    }
}
/**********************************************************************************************************************************/
.sec5{
    margin-top: 50px;
    text-align: center;
    color: black;
    padding: 100px 0px 100px 00px;
    background: #969ca95c;
    position: relative;
}
.sec5 .title{
    font-weight: bold;
}
.sec5 h2{
    font-weight: bold;
    font-size: 3vw;
}
.sec5 .carousel{
    background-color: rgba(0, 0, 0, 0);
    width: 700px;
    margin: auto;
    border-radius: 12px;
    padding: 25px 0;
    color: black
} 

@media screen and (min-width:1800px) {
    .sec5 .carousel{
        background-color: rgba(0, 0, 0, 0);
        width: 1500px;
        margin: auto;
        border-radius: 12px;
        padding: 25px 0;
        color: black
    } 
    .sec5 .image{
        display: none;
    }
}
.sec5 .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
    display: flex;
}
 .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    /* display: block; */
    /* width: fit-content; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    margin: auto;
}

 .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 70%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
    /* display: flex; */
    justify-content: center;
    margin: auto;
}
.sec5 .feedback{
    width: 80%;
    text-align: center;
}
.sec5 .feedback .img{
padding-bottom: 20px;
}
.sec5 .feedback .img img{

}
.sec5 .feedback .title{
    padding-bottom: 20px;
    font-size: 30px;
}

.sec5 .feedback .text{
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.635);
}
.sec5 .feedback .name{
    font-size: 20px;
}
.sec5 .feedback .location{
    color: rgba(0, 0, 0, 0.635);
}
.sec5 .feedback .location span{
    color:#0a58ca
}
.sec5 .image{
    position: absolute;
    top: 463px;
    left: 74px;
    /* bottom: 0px; */
    height: 353px;
    width: 266px;
}
.sec5 .image img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:750px) {
    .sec5 .carousel{
        background-color: rgba(0, 0, 0, 0);
        width: 400px;
        margin: auto;
        border-radius: 12px;
        padding: 25px 0;
        color: black
    } 
    .sec5 .feedback .title{
        padding-bottom: 20px;
        font-size: 25px;
    }
    .sec5 h2{
        font-weight: bold;
        font-size: 25px;
    }
}

@media screen and (max-width:420px) {
    .sec5 .carousel{
        background-color: rgba(0, 0, 0, 0);
        width: 300px;
        margin: auto;
        border-radius: 12px;
        padding: 25px 0;
        color: black
    } 
    .sec5 .feedback .title{
        padding-bottom: 20px;
        font-size: 20px;
    }
    .sec5 h2{
        font-weight: bold;
        font-size: 20px;
    }
    
}

@media screen and (max-width:1250px) {
    .sec5 .image{
        display: none;
    }
}

/**********************************************************************************************************************************/
.sec6{
    background-image: url(../images/download22.jpg);
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    /* margin: 50px 0; */
    color: white;
    align-items: center;
    flex-wrap: wrap;
}

.sec6 .text .title{
    font-size: 15px;
}
.sec6 .text .question{
    font-size: 54px;
}
.sec6 button{
    background: #0E59F2;
    /* float: 10px; */
    padding: 10px 20px;
    border-radius: 18px;
    transition: all ease-in-out 0.3s;
    color: white;
    border: none;
    box-shadow: none;
}
.sec6 button:hover{
    background: black;
}
@media screen and (max-width:700px) {
    .sec6 .text .question{
        font-size: 40px;
    }
}
@media screen and (max-width:580px) {
    .sec6{
        padding: 0px 10px;
    }
    .sec6 .text .title{
        font-size: 13px;
        padding-bottom: 10px;
    }
    .sec6 .text .question{
        font-size: 30px;
    }
}
/**********************************************************************************************************************************/
.end{
    padding-top: 50px;
    background: #0f182b;
    color: white;
}

.end .footer{
    margin: 0;
    width: 85%;
    margin: auto;
}

.end .footer .cont hr{
    border: 2px solid white;
    width: 53px;
}
.end .footer .cont p{
    color: #ffffffa8;
}
.end .footer .cont .logos{
    width: 100%;
}
.end .footer .cont .logos i{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ffffff4f;
    margin: 0 0 0 7px;
    font-size: 20px;
}
.end .footer .cont div{
    padding-top: 10px;
}
.end .footer .cont div a{
    color: #ffffffa8;
    padding-top: 0px;
}
.end .footer .cont form{
    margin-top: 30px;
    padding: 6px 10px 6px 10px;
    background: white;
    width: fit-content;
    border-radius: 19px;
}
.end .footer .cont form input{
    border: none;
    width: 124px;
}
.end .footer .cont form button{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 13px 18px;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-align: center;
    transition: all .35s;
    text-align: center;
    margin: auto;
    border: none;
    background: #0E59F2;
    color: var(--white-color);
    transition: .4s;
    border-radius: 19px;
}
.end .footer .rights{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    background: white;
    border-radius: 12px;
    margin: 30px 0;
    color: #000000ba;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width:1300px)and (min-width:980px) {
    .end .footer .cont form {
        margin-top: 30px;
        padding: 6px 10px 6px 10px;
        background: white;
        width: fit-content;
        border-radius: 19px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .end .footer .cont form button{
        margin-top: 10px;
    }
}
@media screen and (max-width:980px){
    .end .cont{
        padding-bottom: 20px;
    }
}
@media screen and (max-width:560px){
    .end .rights{
        flex-direction: column;
        justify-content: center;
    }
    .end .rights .right{
        padding-top: 20px;
    }
}